html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: my-font;
    src: url(./fonts/Norse-Bold.otf);
}

.sidebar {
    background-image: url(./images/greenery.jpg);
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: end;
    align-items: center;
    gap: 65vh;
    width: 1000px;
}

.logo-area {
    font-family: my-font;
    background-color: #0004;
    display: flex;
    align-items: center;
}

.logo-area p {
    font-size: 80px;
}

.photo-credit a {
    color: #fff;
}

.photo-credit {
    font-size: 0.9rem;
    font-weight: 100;
}